body {
  background: #000;
  font-size: 20px;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

.developers h1{
  position: absolute;
  top: 51%;
  left: 42%;
  text-decoration: underline;
  color: #ffd;
  /* background: linear-gradient(to right,#fff 20%, rgb(166, 77, 226) 40%, rgb(0, 225, 255) 60%, #fff 80%);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 50% auto;
  -webkit-text-fill-color: transparent;
  animation: grad 1s linear infinite; */
}

.container {
  width: 100%;
  height: 50%;
  margin-top: 16%;
  padding: 3px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

/* @keyframes grad{
  to {
    background-position: 100% center;
  }
} */

.box{
  width: 270px;
  height: 250px;
  /* background-color: rgb(31, 27, 27); */
  border-radius: 15px;
  position: relative;
  display: flex;
  box-shadow: 0px 0px 7px 3px gray;
  margin: 20px auto;
  margin-top: 5%;
}

.name{
  position: absolute;
  left:18%;
  top: 55%;
  padding: 0%;
  font-size: 25px;
}

.box-sub{
  width: 140px;
  height: 145px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 7px 3px gray;
  left: 25%;
  top: -40px;
  padding: 0%;
}

.dash{
    width: 28%;
    height: 2px;
    background-color: #e5e6ec;
    position: absolute;
    top: 80%;
    left: 35%;
}

a, a:link, a:visited {
  text-decoration: none;
  padding: 9px 15px;
  border: 1px solid #ececec;
  border-radius: 5px;
  color: gray;
  text-align: center;
}

.animate {
  font-size: 40px;
  text-align: center;  
	margin: 60px 0 0;
}

.animate span {
	display: inline-block;
}


.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}

.three span {
  color: #b10e81;
  text-align: center;
	opacity: 0;
	transform: translate(-300px, 0) scale(0);
  animation: sideSlide 0.8s forwards;
}

@keyframes sideSlide {
	60% {
		transform: translate(20px, 0) scale(1);
		color: #e2df1d;
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: #00f0ff;
	}

	99% {
		transform: translate(0) scale(1.2);
		color:  #b10e81;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: #16c1ec;
  }
 }

.developers{
  margin-top: 10%;
}

 .credits {
  padding: 0 10px;
  margin-top: 50px;
  text-align: center;
}

.credits .title {
  font-weight: bold;
  color: #e43b5e;
}

.dialog {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  background-color: rgba(10,10,10,0.8);
  border-radius: 13px;style="position:absolute; left: 35%;"
  padding: 1.7em 2em;
}


#asaturday-ui {
  z-index: 100;
  position: absolute;
  left: 20px;
  bottom: 20px;
  line-height: 1.2em;
}

#asaturday-ui .help {
  width: 600px;
  color: #ffd;
  font-size: 16px;
  text-shadow: 0px 2px 1px #000;
}

#asaturday-ui .help h1, #gif-ui h1 {
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  color: #e43b5e;
  margin-top: 0;
}

#asaturday-ui .button, #gif-ui .button {
  background-color: #e43b5e;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 8px 15px;
  border-radius: 10px;
  margin-right: 15px;
}

#asaturday-ui .button img{
  vertical-align: middle;
}

#asaturday-ui .copy{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#asaturday-ui .button:hover, #gif-ui .button:hover, #gif-ui .close:hover {
  background-color: #ff5b7e;
}

#asaturday-ui .form {
  display: flex;
  align-content: center;
  margin-bottom: 1rem;
}

#asaturday-ui .share input {
  width: 300px;
  color: #555;
  text-align: center;
}

.hide {
  display: none !important;
} 

#asaturday-ui .progress {
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  color: #e43b5e;
  border-bottom: 1px solid #e43b5e;
  text-shadow: 0px 2px 1px #000;
}

#asaturday-ui .bar {
  width: 0%;
  height: 3px;
  margin-top: 13px;
  background-color: #e43b5e;
}

.instructions {
  z-index: 100;
  position: absolute;
  color: #ffd;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.8em;
  width: 100%;
  opacity: 0;
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
}

.instructions-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(../assets/bg.jpg);
  background-size: cover;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.instructions img {
  padding-top: 20px;
  max-width: 100%;
  max-height: 100%;
}

.instructions h2 {
  font-size: 1.2em;
  color: #e43b5e;
  font-style: italic;
}

.instructions p {
  margin: 2em auto;
  padding: 0 1em;
  max-width: 800px;
}

.instructions b {
  color: #8ff;
  font-weight: normal;
}

.instructions a {
  color: #fff78c;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dotted #fff78c;
}

.instructions a:hover {
  color: #fff;
  border-bottom-color: #fff;
}

.instructions .start-button {
  background: linear-gradient(to right,rgb(179, 32, 216) 20%,rgb(213, 45, 219) 40%, rgb(218, 0, 134) 60%, rgb(221, 57, 172) 80%);
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  width: 200px;
  height: 50px;
  margin-left: calc(50% - 100px);
  margin-top: 80px;
  border-radius: 17px;
  border: none;
  display: block;
}

.instructions .start-button:hover {
  background-color: #fff;
  color: #e43b5e;
}

.instructions .start-button span.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.watermark{
  position: absolute;
  z-index: 999;
  width: 300px;
  margin: 20px 30px;
}

#gif-ui {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.3);
}
#gif-ui.black{
  background: #000;
}
#gif-ui .dialog{
  position: absolute;
  width: 400px;
  top: 30%;
  top: calc(40vh - 200px);
  left: calc(50% - 200px);
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
#gif-ui .button {
  margin: 0;
}
#gif-ui .dialog>img {
  display: block;
  background: black;
  margin: 3rem auto;
}

#gif-ui b{
  color: #fff;
  font-weight: normal;
}

#gif-ui .close {
  background-color: #e43b5e;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding: 6px;
  border-radius: 20px;
  font-size: 40px;
  position: absolute;
  left: 450px;
  top: -10px;
}

@media only screen
  and (min-device-width: 400px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .instructions .start-button {
    margin-top: 10px;
  }
  .credits {
    margin-top: 10px;
  }
  .instructions {
    line-height: 1.4em;
  }

  .instructions p {
    margin: 1em auto;
  }

  .instructions img {
    padding-top: 10px;
    max-width: 60%;
    max-height: 20%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .instructions p {
    max-width: 700px;
  }
}