 <head>
   <title>CHECKMATE</title>
   <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
<!--   <script src="../build/socket.io.min.js"></script>-->
   <script src="../build/easyrtc.js"></script>
   <script src="https://cdn.jsdelivr.net/gh/ashryaagr/checkmate-static-files/build/build.js"></script>
<!--   <script src="./components/question-modal.js"></script>-->
   <script src="./../js/get_questions.js"></script>
   <script src="./../js/check_answer.js"></script>
 </head>