<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title text-center" id="myModalLabel">LEADERBOARD</h4>
     </div>
     <div class="modal-body">
       <table class="table table-hover" id="leaderboard">
         <thead>
           <tr>
             <th>Rank</th>
             <th>NAME</th>
             <th>Score</th>
           </tr>
         </thead>
         <tbody>

         </tbody>
       </table>
     </div>
     <div class="modal-footer"> <button type="button" class="btn btn-outline-primary"
         data-dismiss="modal">Close</button> <button class="btn btn-primary" id="logout">Checkout</button> </div>
   </div>
 </div>
</div>
<style>
 .modal-header {
   background-color: #22b9d4;
   color: white;
   font-size: 17px;
   font-family: 'Merriweather', serif;

 }

 .fa-question-circle {
   font-size: 5.5em;
 }

 .question-content {
   margin-top: 20px;
 }

 .modal {
   text-align: center;
 }

 @media screen and (min-width: 768px) {
   .modal:before {
     display: inline-block;
     vertical-align: middle;
     height: 100%;
   }
 }

 .modal-dialog {
   display: inline-block;
   text-align: left;
   vertical-align: middle;
 }
</style>
<script src="../js/leaderboard.js"></script>
<script src="./../js/logout.js"></script>